#nav {
  text-align: center;
}

.nav-title {
  color: var(--text-primary);
  font-size: xxx-large;
  font-weight: bold;
  transition: all 0.5s;
  padding: 20px;
}

.nav-color-toggle {
  z-index: 3;
  color: var(--text-primary);
  cursor: pointer;
  background-color: transparent;
  font-size: xx-large;
  border: 0;
  position: absolute;
  right: 30px;
  top: 20px;
  float: right;
  transition: all 0.5s;
}

.nav-color-toggle:hover::before {
  content: var(--toggle-text);
  font-size: small;
  transform: translate(-46px, 40px);
  position: absolute;
  width: 83px;
}

.App {
  color: var(--text-primary);
  background-color: var(--background);
  height: calc(100vh);
  transition: all 0.5s;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.body-instruction{
  text-align: center;
  font-size: x-large;
}

.boxes-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box-center-text, .box {
  height: 300px;
  width: 300px;
}

.box-center-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 500%;
}

.box {
  font-size: x-large;
  border: 0;
  color: #fffffe;
  cursor: pointer;
  transition: all 0.5s;
}

.box:hover {
  scale: 1.1;
}

.blue {
  background-color: rgb(20, 70, 163);

}

.red {
  background-color: rgb(155, 22, 29);
}

.text-red {
  color: rgb(199, 48, 48);
}

.text-blue {
  color: rgb(23, 104, 255);
}
