body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --background: #eff0f3;
  --text-primary: #0d0d0d;
  --text-secondary: #2a2a2a;
  --accent: #ff8e3c;
}

[data-theme='dark'] {
  --background: #0f0e17;
  --text-primary: #fffffe;
  --text-secondary: #a7a9be;
  --accent: #ff8906;
}

.App {
  color: var(--text-primary);
  background-color: var(--background);
  font-size: large;
  font-weight: bold;
  padding: 20px;
  height: calc(100vh - 40px);
  transition: all .5s;
}
button {
  color: var(--background);
  background-color: var(--text-primary);
  border: 2px var(--text-primary) solid;
  float: right;
  transition: all .5s;
}